@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Preto: #000000;
    --Branco: #ffff;
    --Cinza: #D9E0E4;
    --Links: #1E90FF;
    --Titulo-Especial: #02B153;
    --Destaque: #FFD700;
    --Preto-hover: #202020;

    --font-primaria: "Inter", 'sans-serif';
    --transition-default: 0.3s ease;
}

* {
    font-family: var(--font-primaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem 0rem 2rem;
    background-color: var(--Branco);
    border-bottom: solid;
}

.cabecalho__sobre {
    color: var(--Preto);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

.cabecalho__logo {
    width: 11rem;
}

.cabecalho__links {
    display: flex;
    flex-direction: row;
}

.cabecalho__links__redes {
    width: 1.4rem;
    margin-left: 0.5rem;
}

/*footer*/
.rodape {
    padding: 1.5rem 2rem;
    background-color: var(--Preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape__esquerda {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.rodape__esquerda__logo {
    width: 12rem;
    margin: 0 0 1rem 0.3rem;
}

.rodape__esquerda__feedback { /*botão de feedback*/
    text-decoration: none;
    border: 2px solid var(--Branco);
    background-color: var(--Branco);
    border-radius: 100px;
    color: var(--Preto);
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.3rem 0rem;
}

.rodape__esquerda__info {
    color: var(--Branco);
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0.3rem;
    text-align: left ;
}

.rodape__direita {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.rodape__direita__email {
    color: var(--Branco);
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 1.6rem 1.2rem 0; /* Adjust margin as needed */
}

.rodape__direita__redes {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1.2rem; /* Adjust margin as needed */
}

.rodape__direita__redes__icones {
    padding: 0.125rem;
    width: 1.8rem;
    }

.rodape__direita__redes__linkedin {
    padding: 0.125rem;
    width: 1.7rem;
}

.rodape__direita__links {
    margin: 0 1.6rem 0.5rem 0;
    color: var(--Branco);
    font-size: 0.75rem;
    font-weight: 400;
    text-align: right;
}

/*feedback page*/
.feedback__title {
    padding-top: 1rem ;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feedback__forms {
    background-color: var(--Preto);
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--Branco);
    border-radius: 20px;
    color: var(--Branco);
    max-width: 600px;
}

.feedback__nome, .feedback__email {
    padding: 0.5rem;
    border: 1px solid var(--Cinza);
    border-radius: 4px;
    background-color: var(--Branco);
    color: var(--Preto);
    font-size: 1rem;
}

.feedback__text {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--Cinza);
    border-radius: 4px;
    background-color: var(--Branco);
    color: var(--Preto);
    font-size: 1rem;
    resize: none;
}

.feedback__submit {
    padding: 0.6rem 1rem;
    border: solid;
    border-radius: 6px;
    color: var(--Branco);
    background-color: var(--Preto);
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-end;
}

.feedback__submit:hover {
    background-color: var(--Preto-hover);
}

/*Sobre nós page*/

.sobre1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--Branco);
}

.sobre__titulos {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Preto);
    margin: 2rem 0;
    text-align: center;
}

.sobre__strong {
    padding: 0 0.4rem;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--Titulo-Especial);
    color: var(--Branco);
    text-align: center;
}

.sobre__texto {
    text-indent: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--Preto);
    text-align: justify;
    max-width: 800px;
    line-height: 2;
    margin-bottom: 1rem;
}

.sobre2 {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.sobre__fotos {
    margin-bottom: 0.7rem;
    width: 6rem;
}

.sobre__integrantes{
    margin-top: 1rem;
    color: var(--Branco);
}

.sobre__divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 600;
    width: 200px; /* Define a fixed width */
    height: 250px; /* Define a fixed height */
}

.sobre__divs:hover {
    background-color: var(--Preto);
    color: var(--Branco);
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 1rem;
    border-radius: 10px;
}

/*Termos de Uso*/
.termos {
    text-align: justify;
    margin: 2rem 10rem;
}

.termos__titulo {
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
}
.termos__subt {
    margin-top: 1.5rem;
    font-size: 1rem;
}

/*Politica*/
.politica {
    margin-bottom: 3rem;
    padding: 2rem 5rem;
    text-align: justify;
}
.politica__titulo {
    font-size: 1.8rem;
}

.politica__subt {
    font-size: 1rem;
}

/*Index*/
.index {
    margin: 0 8rem;
    text-align: center;
}
.index__titulo{
    margin: 2rem 2rem;
    font-size: 2rem;
}

.index__botao__empreendedores,
.index__botao__empresas {
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.6rem 0.8rem;
    border-radius: 30px;
    border: 2px solid var(--Preto);
    color: var(--Preto);
    background-color: var(--Branco);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.index__botao__empreendedores:hover,
.index__botao__empresas:hover {
    background-color: var(--Preto-hover);
    color: var(--Branco);
}

.index__botao__empreendedores.active,
.index__botao__empresas.active {
    background-color: var(--Preto);
    color: var(--Branco);
}

.index__form{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pesquisa {
    width: 60%;
    padding: 0.8rem 1rem;
    padding-right: 3rem; /* Espaço para o ícone */
    border: 2px solid var(--Cinza);
    border-radius: 30px;
    font-size: 1rem;
    color: var(--Preto);
    background-color: var(--Branco);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.pesquisa:focus {
    border-color: var(--Preto);
    outline: none;
}

.index__grid{
    margin: 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 1rem;
    column-gap: 2rem;
    justify-content: center;

}

.index__empresarios__img, .empresas__empresas__img{
    width: 200px;
    height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}

.index__empresarios__texto{
    padding: 1rem 0;
    border: solid var(--Preto);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-weight: 600;
    color: var(--Preto);
}

.index__empresarios__butao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-decoration: none; 
    background-color: var(--Branco);
    cursor: pointer;
}

.index__empresarios__butao:hover{
    transform: scale(1.07);
    transition: 0.7s;
}

/*Empresas*/
.empresas {
    margin: 0 8rem;
    text-align: center;
}

.empresas__titulo{
    margin: 2rem 2rem;
    font-size: 2rem;
}

.empresas__empresas__texto {
    background-color: var(--Preto);
    color: var(--Branco);
    padding: 1rem 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-weight: 600;
}

.empresas__empresas__img {
    border-left: solid var(--Preto);
    border-right: solid var(--Preto);
    border-top: solid var(--Preto);
}

/*textos*/
.textos {
    margin: 3rem 15rem; 
    text-align: center;   
}

.textos__titulo {
    font-size: 2rem;
    margin-bottom: 1.3rem;
}

.textos__img__container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.textos__img{
    border-radius: 12px;
    width: 70%;
    height: auto;
    max-width: 100%;
}
.textos__subt {
    font-size: 1.3rem;
    line-height: 4rem;
}

.textos__texto {
    padding: 0.8rem 0;
    text-align: justify;
    line-height: 2rem;

}

.textos__citacoes{
    margin: 1.5rem 0;
    font-size: 1.1rem;
}

.links__comum {
    text-decoration: none;
    color: var(--Links);
    font-weight: 600;
}
